<app-toolbar [colorWhite]="colorWhite"></app-toolbar>

<section class="px-4 mt-40 text-[#454C59] lg:ml-[4rem] pb-[2rem] flex flex-wrap">

  <h3 class="text-[26px] lg:text-[66px] 2xl:text-[90px] ">POLÍTICA DE COOKIES</h3>


  <div class="lexendli mt-14 lg:mt-10 space-y-[3rem] text-[18px] lg:text-[36px] xl:text-[40px] 2xl:text-[52px] w-[100%] ">
    <p>¿Qué son las cookies? <br>
      La Web de Esedor (en adelante la Web) utiliza Cookies. Las Cookies <br> son ficheros enviados a un navegador por
      medio
      de un servidor web <br> para registrar las actividades del Usuario en una web determinada. <br> La primera
      finalidad de las
      Cookies es la de facilitar al usuario un <br> acceso más rápido a los servicios seleccionados. Además, las <br>
      Cookies
      personalizan los servicios que ofrece la Web, facilitando y <br> ofreciendo a cada usuario información que es de
      su
      interés o que <br> puede ser de su interés, en atención al uso que realiza de los <br> Servicios.</p>




    <p>
      La Web utiliza Cookies para personalizar y facilitar al máximo la <br> navegación del usuario. Las Cookies se
      asocian
      únicamente a un <br> usuario anónimo y su ordenador y no proporcionan referencias que <br> permitan deducir datos
      personales
      del usuario. El usuario podrá <br> configurar su navegador para que notifique y rechace la instalación <br> las
      Cookies
      enviadas por la Web, sin que ello perjudique la <br> posibilidad del usuario de acceder a los contenidos de dicha
      web. <br>
      Sin embargo, le hacemos notar que, en todo caso, la calidad de <br> funcionamiento de la página Web puede
      disminuir.
    </p>


    <p>
      Los usuarios registrados, que se registren o que hayan iniciado <br> sesión, podrán beneficiarse de unos servicios
      más
      personalizados y <br> orientados a su perfil, gracias a la combinación de los datos <br> almacenados en las
      cookies con los
      datos personales utilizados en el <br> momento de su registro. Dichos usuarios autorizan expresamente el <br> uso
      de esta
      información con la finalidad indicada, sin perjuicio de su <br> derecho a rechazar o deshabilitar el uso de
      cookies.
    </p>



    <p>
      Asimismo, la Web podrá saber todos los servicios solicitados por los <br> usuarios, de forma que podrán facilitar
      u
      ofrecer información <br> adecuada a los gustos y preferencias de cada usuario.
    </p>


    <p>
      ¿Qué tipos de cookies existen? <br>
      Las Cookies, en función de su Permanencia, pueden dividirse en:
    </p>



    <p>
      Cookies de sesión Expiran cuando el usuario cierra el navegador. <br>
      Cookies persistentes Expiran en función de cuando se cumpla el <br> objetivo para el que sirven (por ejemplo, para
      que
      el usuario se <br> mantenga identificado en los Servicios) o bien cuando se borran <br> manualmente. <br>
      En función de su Propietario, pueden dividirse en:

    </p>



    <p>
      Cookies propias Son aquellas que se envían al equipo terminal del <br> usuario desde un equipo o dominio
      gestionado por el propio editor y <br> desde el que se presta el servicio solicitado por el usuario. <br>
      Cookies de terceros Son aquéllas que se envían al equipo terminal <br> del usuario desde un equipo o dominio que
      no es
      gestionado por el <br> editor, sino por otra entidad que trata los datos obtenidos través de las cookies. <br>
      Adicionalmente, en función de su Objetivo, las Cookies pueden <br> clasificarse de la siguiente forma:
    </p>




    <p>
      Cookies de rendimiento Este tipo de Cookie recuerda sus <br> preferencias para las herramientas que se encuentran
      en
      los <br> servicios, por lo que no tiene que volver a configurar el servicio cada <br> vez que usted visita. A modo
      de
      ejemplo, en esta tipología se <br> incluyen: <br>
      Ajustes de volumen de reproductores de vídeo o sonido. <br>
      Las velocidades de transmisión de vídeo que sean compatibles con <br> su navegador.
    </p>




    <p>
      Cookies de <br>
      Geo-localización
    </p>



    <p>
      Estas Cookies son utilizadas para averiguar en qué país se <br> encuentra cuando se solicita un servicio. Esta
      Cookie
      es totalmente <br> anónima, y sólo se utiliza para ayudar a orientar el contenido a su <br> ubicación.
    </p>



    <p>
      Cookies de registro Las Cookies de registro se generan una vez que <br> el usuario se ha registrado o
      posteriormente ha
      abierto su sesión, y <br> se utilizan para identificarle en los servicios con los siguientes <br> objetivos: <br>
      Mantener al usuario identificado de forma que, si cierra un servicio, <br> el navegador o el ordenador y en otro
      momento u otro día vuelve a <br> entrar en dicho servicio, seguirá identificado, facilitando así su <br>
      navegación sin
      tener que volver a identificarse. Esta funcionalidad <br> se puede suprimir si el usuario pulsa la funcionalidad
      “cerrar sesión”, <br> de forma que esta Cookie se elimina y la próxima vez que entre en el <br> servicio el
      usuario tendrá
      que iniciar sesión para estar identificado. <br>
      Comprobar si el usuario está autorizado para acceder a ciertos <br> servicios, por ejemplo, para participar en un
      concurso.
    </p>





    <p>
      Cookies analíticas Cada vez que un Usuario visita un servicio, una <br> herramienta de un proveedor externo genera una
      Cookie analítica <br> en el ordenador del usuario. Esta Cookie que sólo se genera en la <br> visita, servirá en próximas
      visitas a los Servicios de la Web para <br> identificar de forma anónima al visitante. Los objetivos principales <br> que se
      persiguen son: <br>
      Permitir la identificación anónima de los usuarios navegantes a <br> través de la “Cookie” (identifica navegadores y
      dispositivos, no <br> personas) y por lo tanto la contabilización aproximada del número <br> de visitantes y su tendencia en
      el tiempo. <br>
      Identificar de forma anónima los contenidos más visitados y por lo <br> tanto más atractivos para los usuarios. <br>
      Saber si el usuario que está accediendo es nuevo o repite visita. <br>

    </p>



  </div>
</section>
