<app-toolbar [colorWhite]="colorWhite"></app-toolbar>

<app-first-section [date]="date" [industry]="industry" [client]="client" [image]="image" [styles]="styles"
  [display]="display" [imageTwo]="imageTwo" [paragraphOne]="paragraphOne" [paragraphTwo]="paragraphTwo" [serviceList]="serviceList"
  [definitionsList]="definitionsList" [animatedTitle]="animatedTitle"></app-first-section>

  <section class="h-screen lg:mt-80 ">
    <div class="w-full h-screen bg-no-repeat bg-cover bg-fixed h-[110%] lg:block hidden"
      style="background-image: url(assets/img/parallax1-solucionatica.png);">
    </div>

    <div class="w-full h-screen bg-no-repeat bg-cover bg-fixed h-[110%] block lg:hidden"
      style="background-image: url(assets/img/parallax1mobil-primax-.png);">
    </div>
  </section>


  <app-second-section [firstText]="firstText" [secondText]="secondText" [thirdText]="thirdText" [displayImage]="displayImage">
  </app-second-section>

  <section style="background: #F2F4F5;">
  <section class="h-screen">
    <div class="w-full h-screen bg-no-repeat bg-cover bg-fixed h-[110%] lg:block hidden"
      style="background-image: url(assets/img/parallax2-solucionatica.png);">
    </div>

    <div class="w-full h-screen bg-no-repeat bg-cover bg-fixed h-[110%] block lg:hidden"
      style="background-image: url(assets/img/parallax2mobil-primax-.png);">
    </div>
  </section>


  <section>
    <div class="2xl:mt-[565px] lg:mt-[450px] mt-[300px] ">
      <img class="lg:ml-32 w-[1000px] lg:w-[650px] xl:w-[750px] 2xl:w-[900px] 3xl:w-[1150px]" src="assets/img/img1primax.png" alt="">
    </div>
  </section>


  <section>
    <div class="mt-[300px] flex justify-end">
      <img class="w-[1000px] lg:w-[650px] xl:w-[700px] 2xl:w-[8500px] 3xl:w-[1100px]" src="assets/img/img2primax.png" alt="">
    </div>
  </section>



<div class="flex flex-wrap justify-between 2xl:px-[120px] xl:px-[100px] lg:px-[80px] mt-40">

  <div
    class="lexendb 2xl:w-[618px] leading-[60px] lg:leading-[140px] 2xl:text-[128px] xl:text-[122px] lg:text-[95px] text-[48px] ml-4 lg:ml-[0px]">
    <h2>Desarrollo</h2>
    <h2>front-end</h2>

  </div>

  <div data-aos="fade-up" data-aos-duration="500" class="2xl:mr-[-4%]
  text-[21px] 2xl:text-[36px] 2xl:w-[650px]
  xl:text-[30px] xl:w-[480px] xl:mr-[-6%]
  lg:text-[25px] lg:w-[400px] lg:mr-[-6%] lg:mt-[3%]
  w-[300px] ml-4 lg:ml-[0px]

  mt-[1rem] ">
    <h3>Este sistema nace con el proposito de crear valor a todos los stakeholder b2b de la empresa, administrando
      diferentes entornos dentro de la organización
    </h3>

    <div class="lg:w-[150px] lexendb lg:text-[8px] xl:text-[14px] lg:absolute mt-[20%] text-[14px] lg:mt-16 px-0">
      <p data-aos="fade-up" data-aos-duration="500"
        class="mb-4 lg:mb-2 lg:text-[13px] xl:text-[21px] text-[36px] lexend">Tecnologías
      </p>
      <p data-aos="fade-up" data-aos-duration="500">Angular</p>
      <p data-aos="fade-up" data-aos-duration="500">Tailwind CSS</p>
      <p data-aos="fade-up" data-aos-duration="500">Material</p>
    </div>

  </div>
</div>


<section class="h-screen mt-[428px]">
  <div class="w-full h-screen bg-no-repeat bg-cover bg-fixed h-[110%] lg:block hidden"
    style="background-image: url(assets/img/parallax-3-solucionatica.png);">
  </div>

  <div class="w-full h-screen bg-no-repeat bg-cover bg-fixed h-[110%] block lg:hidden"
    style="background-image: url(assets/img/parallax3mobil-primax-.png);">
  </div>
</section>
</section>


<section>
  <div class="2xl:mt-[565px] lg:mt-[450px] mt-40 flex justify-end">
    <img class="w-[1000px] lg:w-[800px] xl:w-[850px] 2xl:w-[980px] 3xl:w-[1100px]" src="assets/img/img3-primax.png" alt="">
  </div>
</section>
<section>
  <div class="2xl:mt-[200px] lg:mt-[100px]">
    <img class="w-[1000px] lg:w-[650px] xl:w-[700px] 2xl:w-[850px] 3xl:w-[980px]" src="assets/img/img4-primax.png" alt="">
  </div>
</section>
<section>
  <div class="flex justify-end">
    <img class="lg:mt-[0px] mt-[100px] w-[1000px] lg:w-[650px] xl:w-[700px] 2xl:w-[850px] 3xl:w-[980px]" src="assets/img/img5-primax.png" alt="">
  </div>
</section>
