<div class="2xl:w-[65%] xl:w-[75%] lg:w-[85%] w-[100%] lg:rounded-2xl 2xl:rounded-3xl drop-shadow-2xl bg-white lg:block hidden">
  <div class="flex lg:justify-center">
    <div class=" flex flex-col mt-8 w-[75%]">
      <div>
        <p class="2xl:text-[36px] lg:text-[23px] flex justify-center">Get your free copy</p>
        <p class="2xl:text-[14.5px] lg:text-[12.5px] mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit.</p>
      </div>

      <div class="flex justify-center 2xl:mt-11 lg:mt-5">
        <div class="w-[100%]">
          <form class="flex flex-col space-y-4 w-[95%]">
            <mat-form-field class="">
              <mat-label>Nombre y Apellido</mat-label>
              <input type="text" name="nombre" id="nombre" required matInput>
            </mat-form-field>
            <mat-form-field class="">
              <mat-label>Correo</mat-label>
              <input type="email" name="email" id="email" required matInput>
            </mat-form-field>
            <mat-form-field class="">
              <mat-label>Celular</mat-label>
              <input type="number" name="numero" id="numero" required matInput>
            </mat-form-field>
            <mat-form-field class="">
              <mat-label>Empresa</mat-label>
              <input type="text" name="email" id="email" required matInput value="">
            </mat-form-field>

            <div class="flex justify-center">
              <div class="w-[95%] ">
                <div class="flex justify-center ">
                  <button type="submit" class="bg-[#0166FF] w-[100%] lg:mb-10 2xl:mb-20 h-[49px] text-white rounded ">Primary</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
