.bg-tab {
  background-image: url('../../../assets/img/bglevelup.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-tab-responsive{
  background-image: url('../../../assets/img/level-up-responsive.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover ;
}

.bg2{
  background-image: url('../../../assets/img/bglevelup2.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-tab3{
  background-image: url('../../../assets/img/fondonegro-inclinado.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-tab3-responsive{
  background-image: url('../../../assets/img/fondonegro-responsive.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover ;
}

.text-rotate {
  transform: rotate(-90deg);
}

.shadow {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1024px ) {

  .arrow-rotate{
      transform: rotate(-45deg);
      transition: transform .6s cubic-bezier(.4,0,0,1);
  }

  .arrow:hover g line {
      stroke: #ffffff;
  }

  .arrow:hover g path {
      stroke: #ffffff;
  }

}

@media screen and (min-width: 1024px ) {

  .arrow-rotate2{
      transform: rotate(-45deg);
      transition: transform .6s cubic-bezier(.4,0,0,1);
  }

  .arrow2:hover g line {
      stroke: #000000;
  }

  .arrow2:hover g path {
      stroke: #000000;
  }

}


body{
  font-family: 'Lexend', sans-serif !important;
  scroll-behavior: smooth;
}

html {
  font-family: 'Lexend', sans-serif !important;
  scroll-behavior: smooth;
}
