<div class="bg-black h-[200px] text-white flex justify-center">
  <div class="flex justify-between h-full items-center w-[90%]">
    <div class="flex justify-between">
      <div class="2xl:w-[253px] xl:w-[170px]" >
        <img class="cursor-pointer" routerLink="/" src="assets/img/logo-esedor-white.png" alt="">
      </div>
    </div>

    <div class="flex-col ">
      <div class="2xl:text-[16px] xl:text-[12px]">
        <p>Oficina</p>
      </div>
      <div class="w-[100%] mt-7 flex-col 2xl:text-[22px] xl:text-[16px]">
        <p>Swiss Tower</p>
        <p>Av. Alfredo Benavides #1944 – Piso 9</p>
        <p>Miraflores, Lima</p>
      </div>
    </div>
    <div class="2xl:text-[16px] xl:text-[12px]">
      <p>contacto</p>
    </div>
    <div class="flex-col">
      <div class="2xl:text-[16px] xl:text-[12px]">
        <p>socailes</p>
      </div>
      <div class="flex flex-col mt-6">
        <ul class="2xl:text-[22px] xl:text-[16px]">
          <li>Linkedin</li>
          <li>Instagram</li>
          <li>Facebook</li>
        </ul>

      </div>
    </div>
  </div>
</div>
