<section class="bg-black py-[4rem] lg:py-[12.6rem] px-4 lg:px-[6rem] xl:px-[7rem]">
    <div class="grid lg:grid-cols-2 lg:gap-[5rem] xl:gap-[7rem] text-white flex items-center">
        <p data-aos="fade-up" data-aos-duration="500"
            class="lexendzetta text-[18px] lg:text-[33px] xl:text-[37px] 2xl:text-[49px] lg:leading-[61.5px]">
            {{firstText}}
        </p>
        <div class="mt-[3rem] lg:mt-0 lexend flex items-center flex-col">
            <h3 data-aos="fade-up" data-aos-duration="500"
                class="text-[21px] lg:text-[16px]">{{secondText}}

            </h3>
            <p data-aos="fade-up" data-aos-duration="500"
                class="mt-[2rem] text-[13px] lg:text-[16px] font-medium lg:font-normal {{displayContent}}">{{thirdText}}</p>
            <!-- <p data-aos="fade-up" data-aos-duration="2000" class="lexendb text-sm mt-[1.5rem] {{displayContent}}">{{fourthText}}
            </p> -->
        </div>
    </div>
    <div class="mt-[5rem] lg:mt-[6rem] h-full bg-[#000000] flex justify-center flex-wrap content-center {{displayImage}}">
        <img data-aos="fade-up" data-aos-duration="500" class="lg:w-[85%] 2xl:w-[90%]" alt="laptop2"
            src="{{imageSection}}">
    </div>
</section>
