
<section class="py-10 mb-[-15%] flex flex-wrap content-around ">
  <div class="flex justify-center w-full h-full lg:hidden">
    <img src="assets/img/laptop-notifai.png">
  </div>
  <div
    class="px-4 lg:px-32 grid grid-cols-1 lg:grid-cols-2 gap-2 lg:gap-20 content-start mt-5 lg:mt-16 text-[14px] tracking-wider lexendb">
    <div>
      <h4     data-aos="fade-up" data-aos-duration="2000" >CLIENTE</h4>
      <span   data-aos="fade-up" data-aos-duration="2000" class="lg:hidden lexendzetta text-[36px]">Notifai </span>
    </div>
    <div      data-aos="fade-up" data-aos-duration="2000" class="flex justify-between text-[14px]">
      <div>
        <h4>FECHA</h4>
        <span class="lexend">2021</span>
      </div>

      <div class="lg:block hidden">
        <h4>PAÍS</h4>
        <span class="lexend">COLOMBIA</span>
      </div>
    </div>
  </div>
  <br>
  <div data-aos="fade-up" data-aos-duration="2000" class="mt-60 lg:ml-[-470px] w-[-420px] lg:block hidden">
    <span class="text-[#141C26] lg:text-black text-[36px] lg:leading-[7.5rem] lg:text-[96px] lexendzetta -ml-2 lg:ml-[-1rem]">Notifai</span>
  </div>
  <div class="lg:px-32 px-4 mt-[-5%]">
    <div data-aos="fade-up" data-aos-duration="2000" class="flex mt-[4.5rem] lg:pt-[6.5rem] space-x-4 lg:space-x-[8rem]">
      <div>
        <h3 class="lexendb">ENTREGABLES</h3>
        <ul>INSIGHT RESEARCH</ul>
        <ul>PRODUCT DEFINITION</ul>
        <ul>DESIGN SYSTEM</ul>
      </div>
      <div>
        <h3 class="lexendb">ROLE</h3>
        <ul>STRATEGY</ul>
        <ul>CONCEPT</ul>
        <ul>ART DIRECTION</ul>
        <ul>DESIGN</ul>
        <ul>PRODUCTION</ul>
      </div>
    </div>

    <img data-aos="fade-left" data-aos-duration="2000" class="absolute lg:block hidden w-[45%] h-[50%] right-[2%] 2xl:right-[10rem] top-[15rem] 2xl:top-[3rem] xl:top-[7rem] xl:right-[8rem]"
      src="assets/img/laptop-notifai.png">

    <div class="grid lg:grid-cols-2 gap-[5.5rem] lg:gap-[8rem] mt-[5rem]">
      <div data-aos="fade-up" data-aos-duration="2000" class="lexend">
        <p class="text-sm lg:text-[16px] pb-8 font-bold lg:font-normal">Primax y el reto</p>
        <h3 class="text-[21px] lg:text-[36px]">
          During these uncertain times, many of us find ourselves in introspection mode,
          with new ideas and resolving to do better. We wish we could help everyone and
          fix everything.</h3>
      </div>
      <div data-aos="fade-up" data-aos-duration="2000" class="lexend">
        <p class="text-sm lg:text-[16px] pb-8 font-bold lg:font-normal">El trabajo de Esedor</p>
        <h3 class="text-[21px] lg:text-[36px]">
          During these uncertain times,
          many of us find ourselves in introspection mode,
          with new ideas and resolving to do better.</h3>
      </div>
    </div>

  </div>


  <div
  class="lexendb 2xl:ml-[52%] text-[48px] lg:text-[110px] 2xl:text-[128px] py-[4rem] lg:py-0 leading-[60px] lg:leading-[140px] 2xl:leading-[160px] lg:w-[650px] 2xl:w-[49%] ml-[45%] lg:mt-[8rem] xl:ml-[53%] xl:w-[49%]">
    <h2>
      <div  data-aos="fade-right" data-aos-duration="1000">Branding y</div>
      <div data-aos="fade-right" data-aos-duration="1300">Naming</div>


    </h2>
  </div>

</section>


<section class="h-[110%] lg:mt-80 ">

  <div class="w-full h-screen bg-no-repeat bg-cover bg-fixed h-[110%]"
    style="background-image: url(assets/img/parallax-notifai.png);">

  </div>
</section>


<section style="background: black; " >
  <div
    class="lg:flex py-[6rem] mt-[4rem] justify-between px-[2rem] lg:px-[5rem] w-full flex-wrap content-center text-white">
    <div data-aos="fade-up" data-aos-duration="2000" class="lg:w-[42%]">
      <span class="lexendzetta lg:text-[40px] 2xl:leading-[40px] 2xl:text-[50px] lg:leading-[61px]">
        Investigación y definición de experiencia de cliente (CX)
      </span>
    </div>
    <div data-aos="fade-up" data-aos-duration="2000" class="lg:w-[42%] mt-[3rem] lg:mt-0">
      <p class="text-[21px] lg:text-[22px] 2xl:text-[36px] lexend">
        During these uncertain times, many of us find ourselves in introspection mode,
        with new ideas and resolving to do better. We wish we could help everyone and fix everything.
      </p>
      <p class="mt-[2rem] lg:mt-[14px] text-[10px] lg:text-[12px] 2xl:text-[16px] lexend tracking-[0.0015em]">“During these uncertain times, many of us find ourselves in introspection mode, with new ideas and resolving to do better. We wish we could help everyone and fix everything. “
      </p>
    </div>
  </div>

  <section  class=" h-full bg-[#000000] flex justify-center flex-wrap content-center">
    <img data-aos="zoom-out-up" data-aos-duration="2000" class=" mb-40 w-[1550px] h-[730px] lg:h-[590px] 2xl:h-[890px] 2xl:w-[1428px] lg:w-[1028px]" alt="laptop2"
      src="assets/img/apuntes.png">
  </section>
</section>

<section class="px-4 lg:px-[6rem] h-[300%] xl:px-[7rem] py-[6rem] lg:py-[11rem] lg:h-[1410px]">
  <h2
    class="lexendb text-[48px] lg:text-[110px] leading-[60px] 2xl:text-[128px] lg:leading-[140px] 2xl:leading-[160px] lg:w-[650px] 2xl:w-[49%] ml-auto">
    <div data-aos="fade-down" data-aos-duration="1000" >Arquetipos</div>
    <div data-aos="fade-up" data-aos-duration="1000"> de usuario</div>
     </h2>
  <div class="lexend mt-[5rem] ml-[43%] flex flex-col-reverse lg:flex-row justify-between ">

    <h3 data-aos="fade-up" data-aos-duration="3000" class="text-[21px] lg:text-[36px] lg:leading-[53px] 2xl:pr-[9rem] lg:w-[650px] 2xl:w-[49%]">
      PRIMARY nace por la necesidad de definir una metología de trabajo entre el equipo de diseño
      y desarrollo de Primax.</h3>
  </div>

  <div data-aos="fade-up" data-aos-duration="2000" class="ml-20 mt-40 w-[-50%]" >
    <img src="assets/img/arquetipo-usuario.png" alt="">
  </div>


  <h1 data-aos="fade-up" data-aos-duration="2000" class="absolute top-[885%] lexendzetta text-[46px] " >
    Flujo de usuario
  </h1>

  <div data-aos="fade-up" data-aos-duration="2000" class="ml-20 mt-80 w-[-50%]" >
    <img src="assets/img/mapa-extenso.png" alt="">
  </div>

</section>



<section class="relative h-[100%] lg:mt-[85%] py-0  ">

  <div class="w-full bg-no-repeat bg-cover bg-fixed h-[140%]"
  style="background-image: url(assets/img/parallax-telf.png);">

  </div>
</section>

<section class="py-10 px-4 lg:mt-60 h-[415%]">


  <img data-aos="fade-down" data-aos-duration="2000" class="absolute w-[280px] lg:mt-20 mx-auto lg:mx-0 lg:w-[680px] 2xl:w-[550px]" src="assets/img/campaña.png" alt="">


  <h2
    class="lexendb text-[48px] lg:text-[80px] leading-[60px] 2xl:text-[128px] lg:leading-[140px] 2xl:leading-[160px] lg:w-[650px] 2xl:w-[49%] ml-[58%]">
    <div data-aos="fade-down" data-aos-duration="1000" >Product</div>
    <div data-aos="fade-up" data-aos-duration="1000"> Market Fit</div>
     </h2>
  <div class="lexend mt-[2rem] ml-[58%] flex flex-col-reverse lg:flex-row justify-between ">

    <h3 data-aos="fade-up" data-aos-duration="3000" class="text-[21px] lg:text-[30px] lg:leading-[53px] 2xl:pr-[9rem] lg:w-[510px] 2xl:w-[49%]">
      PRIMARY nace por la necesidad de definir una metología
      de trabajo entre el equipo de diseño  y desarrollo de Primax.</h3>
  </div>

  <img data-aos="fade-right" data-aos-duration="2000" class="absolute w-[280px] lg:mt-80 lg:ml-[10%] mx-auto lg:mx-0 lg:w-[1100px] 2xl:w-[550px]" src="assets/img/grupo-camapaña.png" alt="">



  <img data-aos="zoom-out-up" data-aos-duration="2000" class="absolute w-[280px] lg:mt-[100%] lg:ml-[19%] mx-auto lg:mx-0 lg:w-[850px] 2xl:w-[550px]" src="assets/img/campañas-3.png" alt="">


</section>


<section class="h-full bg-[#5682FF] flex flex-wrap content-center justify-center">
  <img data-aos="flip-right" data-aos-duration="2000"  alt="laptop" class="lg:w-[871px] lg:h-[438px] 2xl:w-[1371px] 2xl:h-[838px] shadowlap" src="assets/img/laptop-estadis.png">
</section>


<section class="px-4 lg:px-[6rem] xl:px-[7rem] 2xl:px-[10rem] lg:py-[11rem] h-full lg:h-auto bg-[#E8E8E8] flex flex-col justify-center lg:block">
  <p  data-aos="fade-up" data-aos-duration="2000" class="lexendb text-sm indent">Win to win</p>
  <p data-aos="fade-up" data-aos-duration="2000" class="lexendzetta lg:text-[40px] 2xl:text-[49px] lg:leading-[53px] 2xl:leading-[61px] mt-8 lg:mt-[5rem] indent">
    Entender los problemas de los usuarios para crear un productos que realmente les genere valor al realizar tareas
    operacionales automatizadas.
  </p>
  <div class="lg:flex lg:flex-row items-center justify-between hidden">
    <div>
      <p data-aos="fade-down" data-aos-duration="2000" class="lexendb text-sm">TEAM</p>
      <ul data-aos="fade-up" data-aos-duration="2000" class="lexedn font-medium text-[13px] mt-5">
        <li>LUIS WATANABE Delivery Manager</li>
        <li>PATRICIA ALCANTARA Lead</li>
        <li>CARLOS ALTAMIRANO Product Owner</li>
        <li>JÉSUS xxxxxxx Project Manager</li>
        <li>MIJALYS SILVA Head of UX</li>
        <li>NELSON PEREIRA Product Designer</li>
        <li>MELANY MERCADO UX Designer</li>
      </ul>
    </div>
    <img data-aos="flip-right" data-aos-duration="2000" class="lg:w-[650px] 2xl:w-[800px]" src="assets/img/mano-like.png" alt="">
  </div>
</section>


<section class="h-full lg:px-40  bg-[#141C26] lexendzetta text-[#D8D8D8] flex justify-center">
  <div class="flex justify-between flex-wrap content-center w-full px-4 lg:px-0">
    <div>
      <div class="lg:px-4">
        <a class="text-[18px] lg:text-[16px] 2xl:text-[36px] ">Ir a proyecto</a>
      </div>
      <div class="lg:-mt-10">
        <a class="text-[36px] lg:text-[100px] 2xl:text-[144px]">Redeban</a>
      </div>
    </div>
    <div class="flex lg:flex-wrap justify-end content-center">
      <img alt="Arrow" class="w-[39.6px] lg:w-[60%] 2xl:w-[100%]" src="assets/img/icon/Arrow.svg">
    </div>
  </div>
</section>
