@media screen and (min-width: 1024px ) {

  .arrow-rotate2{
      transform: rotate(-45deg);
      transition: transform .6s cubic-bezier(.4,0,0,1);
  }

  .arrow2:hover g line {
      stroke: #000000;
  }

  .arrow2:hover g path {
      stroke: #000000;
  }

}
