<div class="flex items-center w-full lg:w-[30%] lg:ml-8 2xl:ml-24 h-[10%]" #logo>
  <div class="cursor-pointer" routerLink="/">
    <img class="w-[2.313] h-[2rem]" src="assets/img/logoE.svg">
  </div>
  <span [class.header_variable]="header_variable" routerLink="/"
    class="z-30 text-sm lg:text-[1.125rem] lexend ml-2 lg:ml-4 leading-[22px] lexendzetta font-medium cursor-pointer">
    <img class="w-[70px] lg:w-[81.99px]" src="assets/img/logoesedor/text-esedor-black.svg">
  </span>
  <div class=" absolute top-0 right-0  xl:left-52 2xl:left-96 z-10 ">
    <img src="assets/img/spring.png" class="2xl:w-[512px] xl:w-[300px] lg:w-[200px]" alt="">
  </div>
</div>

<div class=" absolute top-20 right-0 z-10 ">
  <img src="assets/img/sphere.png" class="2xl:w-[299px] xl:w-[155px] lg:w-[100px]" alt="">
</div>

<section class="z-30 h-[90%]">
  <div class="flex flex-wrap lg:ml-8 2xl:ml-24">
    <div class="flex flex-col w-[50%] mt-10">
      <p class="2xl:text-[36px] lg:text-[23px] z-30">Reporte Q4 2023</p>
      <h2 class="lexend font-bold 2xl:text-[96px] lg:text-[56px] 2xl:mt-28 lg:mt-14 z-30">Chatbots en la industria
        peruana
      </h2>
      <p class="2xl:text-[21px] lg:text-[15px] lg:w-[75%] 2xl:mt-14 lg:mt-9">El objetivo de este informe sobre diseño y
        desarrollo de chatbots es proporcionar a nuestros clientes una guía
        completa sobre cómo aprovechar esta tecnología para mejorar su comunicación con los clientes y aumentar la
        eficiencia de sus operaciones comerciales.</p>
    </div>

    <div class="w-[50%]">
      <div class="flex justify-center ">
        <div class="w-[100%] z-30">
          <app-chatbots-form class="flex justify-center"></app-chatbots-form>
        </div>
      </div>
    </div>
  </div>

  <div class=" absolute bottom-0 z-10 w-[100%]">
    <img class="bg-no-repeat" src="assets/img/fondo-firstsection.png" alt="">
  </div>

</section>


<section>
  <div class="flex flex-wrap bg-[#0B032E]">
    <div class="w-[50%]">
      <div class="ml-14">
        <img src="assets/img/portada-chatbots.png" alt="">
      </div>
    </div>
    <div class="w-[50%]">
      <div class="flex flex-col mt-32">
        <div class="text-white lexendzetta ">
          <h2 class="2xl:text-[46px] lg:text-[40px]">Indice</h2>
        </div>
        <div class="flex flex-col ">
          <ul class="text-white space-y-1">
            <li>1. Objetivos de la Investigación</li>
            <li>2. Distribución de respuestas</li>
            <li>3. ¿Qué son los Chatbots?</li>
            <li>4. Uso de chatbot por rubros</li>
            <li>5. Canales de servicio atención al cliente</li>
            <li>6. Interacción con los chatbots</li>
            <li>7. ¿Cómo afectan los errores de chatbots a tu empresa?</li>
            <li>8. Conclusiones</li>
          </ul>

          <button [class.header_variable]="header_variable" matRipple (mouseover)="btnStyle = true"
            (mouseout)="btnStyle = false" [ngClass]="{ 'arrow2' : btnStyle}" [routerLink]="['/']"
            class="lexendb 2xl:mt-16 lg:mt-8 cursor-pointer bg-[#0166FF] lg:hover:bg-white text-[14.5px] text-white lg:hover:text-black flex items-center justify-start lg:justify-center shadow w-full lg:w-[192px] h-[38px] 2xl:h-[46px]  px-6 lg:p-4 rounded-[50px] mr-6">
            <svg class="transition duration-700 ease-in-out mr-16 lg:mr-4 w-[24px] lg:w-[20px]" width="33" height="31"
              viewBox="0 0 33 31" [ngClass]="{ 'arrow-rotate2' : btnStyle }" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g class="text-white">
                <line x1="5.7105e-09" y1="14.7539" x2="30.6479" y2="14.7539" stroke="white" stroke-width="2" />
                <path d="M16.2585 1.00146L30.5917 15.2188L16.2585 29.436" stroke="white" stroke-width="2" />
              </g>
            </svg>
            Descargar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="z-30 2xl:h-[90%] lg:h-[170%]">


  <div class="flex flex-col">
    <div class="flex justify-center">
      <h2 class="text-center 2xl:text-[46px] lg:text-[28px] lexendzetta w-[90%] mt-24">Los beneficios del diseño y
        desarrollo de chatbots para tu negocio</h2>
    </div>
    <div class="flex justify-center">
      <p class="text-center lexend w-[65%] 2xl:text-[21px] lg:text-[17px] Lexend mt-11">A través de este informe,
        deseamos brindar a nuestros clientes
        una comprensión profunda de los beneficios y oportunidades que los chatbots pueden ofrecer a sus negocios, desde
        el ahorro de tiempo y costos hasta la mejora de la satisfacción del cliente.</p>
    </div>


    <div class="flex justify-center mt-20 z-30">
      <div class="w-[90%] flex justify-between 2xl:space-x-20 lg:space-x-3">
        <div class="w-[32%] flex justify-center bg-white drop-shadow-lg rounded-lg">
          <div class="w-[100%]">
            <div class="flex flex-col">
              <div>
                <img src="assets/img/reduccion-de-costos.png" alt="">
              </div>
              <div class="ml-10 flex flex-col">
                <div class="text-[25px]">
                  <h3>Reducción de costos</h3>
                </div>
                <div class="text-[14.5] mt-7 w-[85%] mb-20">
                  <p>El informe sobre diseño y desarrollo de chatbots puede ayudar a reducir los costos en los procesos
                    de atención al cliente y soporte técnico al permitir la automatización de tareas repetitivas y la
                    resolución de problemas comunes a través de chatbots. Esto significa que las empresas pueden reducir
                    el número de empleados necesarios para realizar estas tareas y, en última instancia, reducir sus
                    costos operativos.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-[32%] flex justify-center bg-white drop-shadow-lg rounded-lg">
          <div class="w-[100%]">
            <div class="flex flex-col">
              <div>
                <img src="assets/img/mejroas-experiencia.png" alt="">
              </div>
              <div class="ml-10 flex flex-col">
                <div class="text-[25px]">
                  <h3>Mejora de la experiencia de atención al cliente</h3>
                </div>
                <div class="text-[14.5] mt-7 w-[85%] mb-20">
                  <p>La implementación de chatbots efectivos puede mejorar significativamente la experiencia del cliente
                    al brindar una atención más rápida y eficiente, lo que aumenta la satisfacción del cliente. Los
                    chatbots también pueden estar disponibles 24/7, lo que significa que los clientes pueden recibir
                    atención en cualquier momento, lo que puede mejorar la retención y la lealtad del cliente.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-[32%] flex justify-center bg-white drop-shadow-lg rounded-lg">
          <div class="w-[100%]">
            <div class="flex flex-col">
              <div>
                <img src="assets/img/potencial-chatgpt.png" alt="">
              </div>
              <div class="ml-10 flex flex-col">
                <div class="text-[25px]">
                  <h3>Potencial de ChatGPT</h3>
                </div>
                <div class="text-[14.5] mt-7 w-[85%] mb-20">
                  <p>Además de los beneficios obvios de implementar chatbots en los procesos de atención al cliente, el
                    informe también puede ayudar a las empresas a comprender el potencial de tecnologías como ChatGPT.
                    Con el uso de ChatGPT, los chatbots pueden comprender mejor el lenguaje natural y proporcionar
                    respuestas más precisas y personalizadas a los clientes. Esto puede aumentar la eficacia y la
                    satisfacción del cliente, y ayudar a las empresas a diferenciarse de la competencia.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative">
    <div class=" absolute bottom-[-100px] z-10 ">
      <img src="assets/img/fondo-secondsection.png" alt="">
    </div>
  </div>
</section>

<section>

  <div class="relative">
    <div class=" absolute right-0 top-0 z-10 ">
      <img src="assets/img/side-right.png" alt="">
    </div>
  </div>
  <div class="bg-[#0166FF]">
    <div class="flex justify-center ">
      <div class="flex flex-col text-white mt-28">
        <div class="flex justify-center text-[46px] lexendzetta ">
          <h3 class="w-[75%] text-center">Los beneficios del diseño y desarrollo de chatbots para tu negocio</h3>
        </div>
        <div class="flex justify-center text-[21px] lexend mt-10">
          <p class="w-[50%] text-center">Esperamos que esta información les ayude a tomar decisiones informadas sobre la
            implementación de chatbots en su empresa y a diseñar soluciones personalizadas que se adapten a sus
            necesidades específicas.</p>
        </div>
        <div class="flex justify-center mb-24">
          <button [class.header_variable]="header_variable" matRipple (mouseover)="btnStyle = true"
            (mouseout)="btnStyle = false" [ngClass]="{ 'arrow2' : btnStyle}" [routerLink]="['/']"
            class="lexendb 2xl:mt-8 lg:mt-8 cursor-pointer bg-white lg:hover:bg-white  text-[14.5px] text-black lg:hover:text-black flex items-center justify-start lg:justify-center shadow w-full lg:w-[192px] h-[50px] 2xl:h-[46px]  px-6 lg:p-4 rounded-[50px] mr-6">
            <svg class="transition duration-700 ease-in-out mr-16 lg:mr-4 w-[24px] lg:w-[20px]" width="33" height="31"
              viewBox="0 0 33 31" [ngClass]="{ 'arrow-rotate2' : btnStyle }" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g class="text-white">
                <line x1="5.7105e-09" y1="14.7539" x2="30.6479" y2="14.7539" stroke="black" stroke-width="2" />
                <path d="M16.2585 1.00146L30.5917 15.2188L16.2585 29.436" stroke="black" stroke-width="2" />
              </g>
            </svg>
            Descargar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="relative">
    <div class=" absolute left-0 bottom-0 z-10 ">
      <img src="assets/img/side-left.png" alt="">
    </div>
  </div>
</section>

<section class="lg:ml-8 2xl:ml-24 2xl:mt-32 lg:mt-20">
  <div class="flex flex-wrap h-[100%] items-center">
    <div class="flex flex-col w-[50%]">
      <h2 class="lexend font-bold 2xl:text-[64px] lg:text-[44px] ">¡Ponte en contacto con nosotros
        para implementar un Chatbot en tu organización!
      </h2>
    </div>

    <div class="w-[50%]">
      <div class="flex justify-center ">
        <div class="w-[100%]">
          <app-chatbots-form class="flex justify-center"></app-chatbots-form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-52">
  <app-footer-black></app-footer-black>
</section>
