<div class="flex items-center w-full lg:w-[30%] ml-4 lg:ml-8 2xl:ml-24 h-[10%]" #logo>
  <div class="cursor-pointer" routerLink="/">
    <img class="w-[2.313] h-[2rem]" src="assets/img/logoE.svg">
  </div>
  <span [class.header_variable]="header_variable" routerLink="/"
    class="z-30 text-sm lg:text-[1.125rem] lexend ml-2 lg:ml-4 leading-[22px] lexendzetta font-medium cursor-pointer">
    <img class="w-[70px] lg:w-[81.99px]" src="assets/img/logoesedor/text-esedor-black.svg">
  </span>
  <div class=" absolute top-0 right-0  xl:left-52 2xl:left-96 z-10 ">
    <img src="assets/img/spring.png" class="2xl:w-[330px] xl:w-[260px] w-[160px]" alt="">
  </div>
</div>

<div class="lg:block hidden">
  <div class=" absolute top-20 right-0 z-10 ">
    <img src="assets/img/sphere.png" class="2xl:w-[155px] xl:w-[115px] lg:w-[85px]" alt="">
  </div>
</div>


<section class="flex flex-col">
  <section class="z-30 h-[90%]">
    <div class="flex lg:flex-wrap grid lg:grid-cols-2 ml-4 lg:ml-8 2xl:ml-24">
      <div class="flex flex-col lg:mt-10 mt-8">
        <p data-aos="fade-right" data-aos-duration="500"
          class="2xl:text-[26px] lg:text-[20px] text-[14.5px] z-30 font-normal">Reporte Q4 2023</p>
        <h2 data-aos="fade-right" data-aos-duration="600"
          class="lexend font-bold 2xl:text-[60px] lg:text-[45px] text-[42px] 2xl:mt-28 lg:mt-14 mt-8 z-30 2xl:w-[700px] lg:w-[500px] w-[290px]">
          Chatbots en la industria
          peruana
        </h2>
        <p data-aos="fade-right" data-aos-duration="700"
          class="2xl:text-[16.5px] lg:text-[13.5px] text-[14px] 2xl:w-[550px] lg:w-[450px] w-[290px] 2xl:mt-14 lg:mt-9 mt-12 font-light">
          El objetivo de este informe sobre diseño
          y
          desarrollo de chatbots es proporcionar a nuestros clientes una guía
          completa sobre cómo aprovechar esta tecnología para mejorar su comunicación con los clientes y aumentar la
          eficiencia de sus operaciones comerciales.</p>
      </div>


      <div class="w-[100%]">
        <div class="flex justify-center ">
          <div class="w-[100%] z-30">
            <app-chatbots-form class="flex justify-center"></app-chatbots-form>
          </div>
        </div>
      </div>
    </div>
    <div class="relative">
      <div class="absolute bottom-[-95px] z-10 ">
        <img class="bg-no-repeat" src="assets/img/fondo-firstsection.png" alt="">
      </div>
    </div>
  </section>


  <section class="mt-24">
    <div class="flex flex-wrap bg-[#0B032E]">
      <div class="w-[50%]">
        <div class="ml-14">
          <img data-aos="fade-right" data-aos-duration="700" src="assets/img/portada-chatbots.png" alt="">
        </div>
      </div>
      <div class="w-[50%]">
        <div class="flex flex-col mt-32">
          <div class="text-white lexendzetta ">
            <h2 data-aos="fade-down" data-aos-duration="700" class="2xl:text-[46px] lg:text-[40px]">Indice</h2>
          </div>
          <div class="flex flex-col ">
            <ul data-aos="fade-up" data-aos-duration="700" class="text-white space-y-1 2xl:mt-12 lg:mt-6">
              <li>1. Objetivos de la Investigación</li>
              <li>2. Distribución de respuestas</li>
              <li>3. ¿Qué son los Chatbots?</li>
              <li>4. Uso de chatbot por rubros</li>
              <li>5. Canales de servicio atención al cliente</li>
              <li>6. Interacción con los chatbots</li>
              <li>7. ¿Cómo afectan los errores de chatbots a tu empresa?</li>
              <li>8. Conclusiones</li>
            </ul>

            <button data-aos="fade-up" data-aos-duration="700" [class.header_variable]="header_variable" matRipple
              (mouseover)="btnStyle = true" (mouseout)="btnStyle = false" [ngClass]="{ 'arrow2' : btnStyle}"
              [routerLink]="['/']"
              class="lexend font-light 2xl:mt-16 lg:mt-8 cursor-pointer bg-[#0166FF] lg:hover:bg-white text-[14.5px] text-white lg:hover:text-black flex items-center justify-start lg:justify-center shadow w-full lg:w-[192px] h-[38px] 2xl:h-[46px]  px-6 lg:p-4 rounded-[50px] mr-6">
              <svg class="transition duration-700 ease-in-out mr-16 lg:mr-4 w-[24px] lg:w-[20px]" width="33" height="31"
                viewBox="0 0 33 31" [ngClass]="{ 'arrow-rotate2' : btnStyle }" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g class="text-white">
                  <line data-aos-duration="700" x1="5.7105e-09" y1="14.7539" x2="30.6479" y2="14.7539" stroke="white"
                    stroke-width="2" />
                  <path data-aos-duration="700" d="M16.2585 1.00146L30.5917 15.2188L16.2585 29.436" stroke="white"
                    stroke-width="2" />
                </g>
              </svg>
              <span data-aos="fade-right" data-aos-duration="700">
                Descargar
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="flex flex-col">
  <section class="z-30 2xl:h-[90%] lg:h-[170%]">


    <div class="flex flex-col">
      <div class="flex justify-center">
        <h2 data-aos="fade-up" data-aos-duration="700"
          class="text-center 2xl:text-[36px] lg:text-[26px] lexendzetta 2xl:w-[70%] lg:w-[65%] mt-24">Los beneficios
          del diseño y
          desarrollo de chatbots para tu negocio</h2>
      </div>
      <div class="flex justify-center">
        <p data-aos="fade-up" data-aos-duration="700"
          class="text-center lexend w-[65%] 2xl:text-[21px] lg:text-[17px] lexendli mt-11 text-[#454C59]">A través de
          este informe,
          deseamos brindar a nuestros clientes
          una comprensión profunda de los beneficios y oportunidades que los chatbots pueden ofrecer a sus negocios,
          desde
          el ahorro de tiempo y costos hasta la mejora de la satisfacción del cliente.</p>
      </div>


      <div class="flex justify-center mt-20 z-30">
        <div class="w-[90%] flex justify-between 2xl:space-x-20 lg:space-x-3">
          <div data-aos="fade-down-right" data-aos-duration="700"
            class="w-[32%] 2xl:h-[590px] lg:h-[395px] flex justify-center bg-white drop-shadow-lg rounded-lg">
            <div class="w-[100%] h-[100%]">
              <div class="flex flex-col h-[100%]">
                <div class="w-[100%]">
                  <div class="flex justify-start">
                    <img class="w-[110px]" src="assets/img/reduccion-de-costos.png" alt="">
                  </div>
                </div>
                <div class="justify-center flex flex-col  flex items-center">

                  <div class="2xl:text-[20px] lg:text-[15px] w-[85%]">
                    <h3>Reducción de costos
                    </h3>
                  </div>
                  <div class="2xl:text-[14.5px] lg:text-[13px] mt-7 w-[85%]  text-[#626973]">
                    <div class="flex items-center">
                      <p>El informe sobre diseño y desarrollo de chatbots puede ayudar a reducir los costos en los
                        procesos
                        de atención al cliente y soporte técnico al permitir la automatización de tareas repetitivas y
                        la
                        resolución de problemas comunes a través de chatbots. Esto significa que las empresas pueden
                        reducir
                        el número de empleados necesarios para realizar estas tareas y, en última instancia, reducir sus
                        costos operativos.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div data-aos="fade-down-right" data-aos-duration="700"
            class="w-[32%] 2xl:h-[590px] lg:h-[395px] flex justify-center bg-white drop-shadow-lg rounded-lg">
            <div class="w-[100%] h-[100%]">
              <div class="flex flex-col h-[100%]">
                <div class="w-[100%]">
                  <div class="flex justify-start">
                    <img class="w-[110px]" src="assets/img/mejroas-experiencia.png" alt="">
                  </div>
                </div>
                <div class="justify-center flex flex-col  flex items-center">

                  <div class="2xl:text-[20px] lg:text-[14.5px] w-[85%]">
                    <h3>Mejora de la experiencia de atención al cliente</h3>
                  </div>
                  <div class="2xl:text-[14.5px] lg:text-[13px] mt-7 w-[85%] text-[#626973]">
                    <p>La implementación de chatbots efectivos puede mejorar significativamente la experiencia del
                      cliente
                      al brindar una atención más rápida y eficiente, lo que aumenta la satisfacción del cliente. Los
                      chatbots también pueden estar disponibles 24/7, lo que significa que los clientes pueden recibir
                      atención en cualquier momento, lo que puede mejorar la retención y la lealtad del cliente.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-aos="fade-down-right" data-aos-duration="700"
            class="w-[32%] 2xl:h-[590px] lg:h-[395px] flex justify-center bg-white drop-shadow-lg rounded-lg">
            <div class="w-[100%] h-[100%]">
              <div class="flex flex-col h-[100%]">
                <div class="w-[100%]">
                  <div class="flex justify-start">
                    <img class="w-[110px]" src="assets/img/potencial-chatgpt.png" alt="">
                  </div>
                </div>
                <div class="justify-center flex flex-col  flex items-center">

                  <div class="2xl:text-[20px] lg:text-[15px] w-[85%]">
                    <h3>Potencial de ChatGPT
                    </h3>
                  </div>
                  <div class="2xl:text-[14.5px] lg:text-[13px] mt-7 w-[85%] mb-20 text-[#626973]">
                    <p>Además de los beneficios obvios de implementar chatbots en los procesos de atención al cliente,
                      el
                      informe también puede ayudar a las empresas a comprender el potencial de tecnologías como ChatGPT.
                      Con el uso de ChatGPT, los chatbots pueden comprender mejor el lenguaje natural y proporcionar
                      respuestas más precisas y personalizadas a los clientes. Esto puede aumentar la eficacia y la
                      satisfacción del cliente, y ayudar a las empresas a diferenciarse de la competencia.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="relative">
      <div class=" absolute bottom-[-100px] z-10 ">
        <img src="assets/img/fondo-secondsection.png" alt="">
      </div>
    </div>
  </section>

  <section class=" mt-24">
    <div class="relative">
      <div class=" absolute right-0 top-0 z-10 ">
        <img src="assets/img/side-right.png" alt="">
      </div>
    </div>
    <div class="bg-[#0166FF]">
      <div class="flex justify-center ">
        <div class="flex flex-col text-white  ">
          <div class="flex justify-center 2xl:text-[40px] lg:text-[35px] lexendzetta mt-28">
            <h3 data-aos="fade-up" data-aos-duration="700" class="2xl:w-[65%] lg:w-[80%] text-center">Los beneficios del
              diseño y desarrollo de chatbots para tu negocio</h3>
          </div>
          <div class="flex justify-center 2xl:text-[21px] lg:text-[17.5px] lexend mt-10">
            <p data-aos="fade-up" data-aos-duration="700" class="w-[50%] text-center">Esperamos que esta información les
              ayude a tomar decisiones informadas sobre
              la
              implementación de chatbots en su empresa y a diseñar soluciones personalizadas que se adapten a sus
              necesidades específicas.</p>
          </div>
          <div class="flex justify-center mb-24">
            <button data-aos="fade-right" data-aos-duration="700" [class.header_variable]="header_variable" matRipple
              (mouseover)="btnStyle = true" (mouseout)="btnStyle = false" [ngClass]="{ 'arrow2' : btnStyle}"
              [routerLink]="['/']"
              class="lexend 2xl:mt-8 lg:mt-8 cursor-pointer bg-white lg:hover:bg-white  text-[14.5px] text-black lg:hover:text-black flex items-center justify-start lg:justify-center shadow w-full lg:w-[192px] h-[50px] 2xl:h-[46px]  px-6 lg:p-4 rounded-[50px] ">
              <svg class="transition duration-700 ease-in-out mr-16 lg:mr-4 w-[24px] lg:w-[20px]" width="33" height="31"
                viewBox="0 0 33 31" [ngClass]="{ 'arrow-rotate2' : btnStyle }" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g class="text-white">
                  <line x1="5.7105e-09" y1="14.7539" x2="30.6479" y2="14.7539" stroke="black" stroke-width="2" />
                  <path d="M16.2585 1.00146L30.5917 15.2188L16.2585 29.436" stroke="black" stroke-width="2" />
                </g>
              </svg>
              Descargar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="relative">
      <div class=" absolute left-0 bottom-0 z-10 ">
        <img src="assets/img/side-left.png" alt="">
      </div>
    </div>
  </section>
</section>
<section class="lg:ml-8 2xl:ml-24 2xl:mt-32 lg:mt-20">
  <div class="flex flex-wrap h-[100%] items-center">
    <div class="flex flex-col w-[50%]">
      <h2 data-aos="fade-right" data-aos-duration="700" class="lexend font-bold 2xl:text-[64px] lg:text-[44px] ">¡Ponte
        en contacto con nosotros
        para implementar un Chatbot en tu organización!
      </h2>
    </div>

    <div class="w-[50%]">
      <div class="flex justify-center ">
        <div class="w-[100%]">
          <app-chatbots-form class="flex justify-center"></app-chatbots-form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-32">
  <app-footer></app-footer>
</section>
