<div class="flex flex-col">
  <div class="flex justify-center mt-20 z-30">
    <div class="w-[90%] flex justify-between 2xl:space-x-20 lg:space-x-3">
      <div data-aos="fade-down-right" data-aos-duration="700"
        class="w-[32%] 2xl:h-[590px] lg:h-[395px] flex justify-center bg-white drop-shadow-lg rounded-lg">
        <div class="w-[100%] h-[100%]">
          <div class="flex flex-col h-[100%]">
            <div class="w-[100%]">
              <div class="flex justify-start">
                <img class="w-[110px]" src="assets/img/reduccion-de-costos.png" alt="">
              </div>
            </div>
            <div class="justify-center flex flex-col  flex items-center">

              <div class="2xl:text-[20px] lg:text-[15px] w-[85%]">
                <h3>Reducción de costos
                </h3>
              </div>
              <div class="2xl:text-[14.5px] lg:text-[13px] mt-7 w-[85%]  text-[#626973]">
                <div class="flex items-center">
                  <p>El informe sobre diseño y desarrollo de chatbots puede ayudar a reducir los costos en los
                    procesos
                    de atención al cliente y soporte técnico al permitir la automatización de tareas repetitivas y
                    la
                    resolución de problemas comunes a través de chatbots. Esto significa que las empresas pueden
                    reducir
                    el número de empleados necesarios para realizar estas tareas y, en última instancia, reducir sus
                    costos operativos.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div data-aos="fade-down-right" data-aos-duration="700"
        class="w-[32%] 2xl:h-[590px] lg:h-[395px] flex justify-center bg-white drop-shadow-lg rounded-lg">
        <div class="w-[100%] h-[100%]">
          <div class="flex flex-col h-[100%]">
            <div class="w-[100%]">
              <div class="flex justify-start">
                <img class="w-[110px]" src="assets/img/mejroas-experiencia.png" alt="">
              </div>
            </div>
            <div class="justify-center flex flex-col  flex items-center">

              <div class="2xl:text-[20px] lg:text-[14.5px] w-[85%]">
                <h3>Mejora de la experiencia de atención al cliente</h3>
              </div>
              <div class="2xl:text-[14.5px] lg:text-[13px] mt-7 w-[85%] text-[#626973]">
                <p>La implementación de chatbots efectivos puede mejorar significativamente la experiencia del
                  cliente
                  al brindar una atención más rápida y eficiente, lo que aumenta la satisfacción del cliente. Los
                  chatbots también pueden estar disponibles 24/7, lo que significa que los clientes pueden recibir
                  atención en cualquier momento, lo que puede mejorar la retención y la lealtad del cliente.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-aos="fade-down-right" data-aos-duration="700"
        class="w-[32%] 2xl:h-[590px] lg:h-[395px] flex justify-center bg-white drop-shadow-lg rounded-lg">
        <div class="w-[100%] h-[100%]">
          <div class="flex flex-col h-[100%]">
            <div class="w-[100%]">
              <div class="flex justify-start">
                <img class="w-[110px]" src="assets/img/potencial-chatgpt.png" alt="">
              </div>
            </div>
            <div class="justify-center flex flex-col  flex items-center">

              <div class="2xl:text-[20px] lg:text-[15px] w-[85%]">
                <h3>Potencial de ChatGPT
                </h3>
              </div>
              <div class="2xl:text-[14.5px] lg:text-[13px] mt-7 w-[85%] mb-20 text-[#626973]">
                <p>Además de los beneficios obvios de implementar chatbots en los procesos de atención al cliente,
                  el
                  informe también puede ayudar a las empresas a comprender el potencial de tecnologías como ChatGPT.
                  Con el uso de ChatGPT, los chatbots pueden comprender mejor el lenguaje natural y proporcionar
                  respuestas más precisas y personalizadas a los clientes. Esto puede aumentar la eficacia y la
                  satisfacción del cliente, y ayudar a las empresas a diferenciarse de la competencia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
