img {
    pointer-events: none;
}

.shadow {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.text-rotate {
    transform: rotate(-90deg);
}
/* .ngucarouselpB8BVM {
    display: flex;
    flex-direction: column;
    height: 700px;
} */

/* .item {
    padding: 10px;
    box-sizing: border-box;
  } */
  
.tile {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
  
.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    /* box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3); */
    /* border-radius: 999px; */
    left: 0;
    z-index: 9;
}
   
.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    /* box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px; */
    right: 0;
}
  
.myPoint {
    list-style-type: none;
    text-align: right;
    padding: 12px;
    padding-bottom: 3rem;
    margin: 0;
    white-space: nowrap;
    overflow: auto;
    box-sizing: border-box;
}

.myPoint  li {

    display: inline-block;
    /* border-radius: 10%; */
    border: 1px solid transparent;
    background: #141C26;
    border-bottom: 1px solid #141C26;
    padding: 2px;
    width: 30px;
    margin: 0px;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.4s;
}

.myPoint  li.active {
    background: transparent;
    transform: scale(1);
}

@media screen and (min-width: 1024px) {
    .tile {
        height: auto;
    }

    .arrow-rotate{
        transform: rotate(-45deg);
        transition: transform .6s cubic-bezier(.4,0,0,1);
    }

    .arrow:hover g line {
        stroke: #FFFFFF;
    }
    
    .arrow:hover g path {
        stroke: #FFFFFF;
    }
}

@media screen and (min-width: 1280px) {
    .myPoint  li {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1536px) {
    .myPoint  li {
        margin-top: 8rem;
    }

    .myPoint {
        padding-bottom: 0;
    }
    
}