<div _ngcontent-aiy-c86=""
        class="absolute bottom-0 right-0 h-[100px] flex flex-col justify-between items-center lg:block hidden">
        <button matRipple class="cursor-pointer rounded-[50%]" (click)="getDown.emit()"
          class="mat-ripple cursor-pointer rounded-[50%]">
          <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_Rq8jJk.json" background="transparent"
            speed="1.5" style="width: 80px; height: 80px;" loop autoplay></lottie-player>
        </button>
      </div>
