<div class="flex flex-col lg:flex-row items-center justify-between w-full lg:h-[122px]">
    <div class="flex flex-col space-y-4 h-full text-[#DFDFDF] lg:w-[55%] pb-4 lg:pb-0">
        <p class="lexendb leading-[20px]">Para nosotros su privacidad es de mucha importrancia</p>
        <p class="lexend text-[11.5px] leading-[14.4px]">Nosotros y nuestros socios almacenamos o accedemos a información en un dispositivo, tales como cookies, y
            procesamos datos personales, tales como identificadores únicos e información estándar enviada por un
            dispositivo, para anuncios y contenido personalizados, medición de anuncios y del contenido e información
            sobre el público, así como para desarrollar y mejorar productos.</p>
    </div>
    <div class="lexend text-[15.5px] leading-[19px] flex space-x-12 lg:space-x-5">
        <button class="text-[#626973]" (click)="snackBarRef.dismiss()">
            Declinar
        </button>
        <button class="text-white" (click)="snackBarRef.dismiss()">
            Aceptar
        </button>
    </div>
</div>