<section class="bg-[#5682FF] py-[4rem] lg:py-[8rem] space-y-[6rem] lg:space-y-[8rem] px-4">
    <h4 class="lexendli text-[17px] lg:text-[21px] leading-[26px] text-white" [ngClass]="{ 'hidden' : displayElement}">Confían en nosotros</h4>
    <div
        class="grid grid-cols-3 lg:grid-cols-6 gap-y-[6rem] items-center justify-items-center lg:justify-items-start ml-[-1rem] lg:ml-[4rem] 2xl:ml-[8rem] gap-4">
        <img data-aos="fade-up" class="max-w-[67px] lg:max-w-full" src="assets/img/logo_empresa/niubiz.png" alt="">
        <img data-aos="fade-up-right" class="max-w-[93px] lg:max-w-full" src="assets/img/logo_empresa/primax.png" alt="">
        <img data-aos="fade-up-right" class="max-w-[84px] lg:max-w-full" src="assets/img/logo_empresa/redeban.png" alt="">
        <img data-aos="fade-up-left" class="max-w-[65px] lg:max-w-full" src="assets/img/logo_empresa/caja-cusco.png" alt="">
        <img data-aos="fade-up-left" class="max-w-[66px] lg:max-w-full" src="assets/img/logo_empresa/cml.png" alt="">
        <img data-aos="fade-up" class="max-w-[67px] lg:max-w-full" src="assets/img/logo_empresa/ripley.png" alt="">
    </div>
</section>
