<mat-toolbar class="main-header text-black -mt-6 bg-transparent">
  <div class="flex justify-between w-full text-[0.875rem] 3xl:text-[1.875rem]" [ngClass]="{ 'text-white' : colorWhite}">
    <div class="flex items-center w-full lg:w-[30%]" #logo>
      <div class="cursor-pointer" routerLink="/">
        <img class="w-[2.313] h-[2rem]" [ngClass]="{ 'hidden' : colorWhite}" src="assets/img/logoE.svg">
        <img class="w-[2.313] h-[2rem]" [ngClass]="{ 'hidden' : !colorWhite}" src="assets/img/logo_white.png">
      </div>
      <span [class.header_variable]="header_variable" routerLink="/"
        class="text-sm lg:text-[1.125rem] lexend ml-2 lg:ml-4 leading-[22px] lexendzetta font-medium cursor-pointer">Esedor</span>
    </div>
    <div #menu class="flex justify-end w-full lexendzetta font-bold">
      <div [class.header_variable]="header_variable"
        class="lg:grid grid-cols-6 gap-4 hidden space-x-10 justify-between items-center w-full lexendzetta font-bold">
        <span class="cursor-pointer col-span-2 text-[1rem]" (click)="redirectService()">Servicios</span>
        <span class="cursor-pointer col-span-2 text-[1rem]" (click)="redirectProject()">Proyectos</span>
        <span class="cursor-pointer col-span-2 text-[1rem]" (click)="redirectUs()">Nosotros</span>
      </div>

      <div #search (click)="openMenu = true" class="pb-2">
        <div [ngClass]="{ 'hidden' : colorWhite}" class="mt-[0.38rem]">
          <svg class="cursor-pointer" width="42" height="22" viewBox="0 0 42 22" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <line y1="1" x2="42" y2="1" stroke="#000000" stroke-width="2" />
            <path d="M0 11L23 11" stroke="#000000" stroke-width="2" />
            <line y1="21" x2="42" y2="21" stroke="#000000" stroke-width="2" />
          </svg>
        </div>
        <div [ngClass]="{ 'hidden' : !colorWhite}" class="mt-[0.38rem]">
          <svg class="cursor-pointer" width="42" height="22" viewBox="0 0 42 22" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <line y1="1" x2="42" y2="1" stroke="#FFFFFF" stroke-width="2" />
            <path d="M0 11L23 11" stroke="#FFFFFF" stroke-width="2" />
            <line y1="21" x2="42" y2="21" stroke="#FFFFFF" stroke-width="2" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
<!-- <div class="h-screen open-nav">
  <div class="bg-nav"></div>

</div> -->
<div class="h-screen w-full flex flex-col-reverse lg:block top-0 fixed bg-black z-50" *ngIf="openMenu">
  <div class="lg:h-[30%] menu-celes text-white flex items-center lg:items-start lg:justify-between lg:pb-[1.5rem] 2xl:pb-[3rem] p-4 lg:relative min-h-[99px] lg:min-h-[220px]">
    <div class="flex items-center absolute lg:relative top-4 lg:top-auto">
      <img routerLink="/" class="w-[2.313] h-[2rem] cursor-pointer" src="assets/img/logo_white.png">
      <p routerLink="/"
        class="text-sm lg:text-[1.125rem] lexend ml-2 lg:ml-4 leading-[22px] lexendzetta font-medium cursor-pointer">
        Esedor</p>
    </div>
    <!-- space-y-[3.5rem] -->
    <div class="flex flex-col justify-center lg:justify-between pr-[6rem] h-full">
      <div class="w-[500px] hidden lg:block">
        <h4 data-aos="fade-down-left" class="lexendli text-[21px]">Trabajar con Esedor es optimizar tus oportunidades.</h4>
        <p data-aos="fade-down-left" class="lexend text-[14.5px]">¿Qué proyecto podemos construir para ti?</p>
      </div>
      <button  [routerLink]="['/contacto']"
        class="h-[46px] lg:h-[50px] 2xl:h-[65px] w-[192px] lg:w-[236px] rounded-[50px] bg-white text-[15.5px] text-black flex justify-center items-center p-4">
        <img class="pr-5 w-[42px] xl:w-auto" src="assets/img/arrow-black.png" alt="">
        <a href="" [routerLink]="['/contacto']" style="text-decoration: none;">
        Conversemos
      </a>
      </button>
    </div>
    <div class="absolute top-2 lg:top-auto lg:bottom-[-3.5rem] right-4" (click)="openMenu = false">
      <!-- top-[16rem] -->
      <button class="w-[46px] lg:w-[102px] h-[46px] lg:h-[102px] rounded-[50%] bg-[#141C26] text-white flex justify-center items-center">
        <img class="w-[8px] lg:w-[16px]" src="assets/img/closer.png" alt="">
      </button>
    </div>
  </div>
  <div data-aos="fade-right" class="h-[75%] lg:h-[70%] px-4 pt-4 lg:pt-[10rem] pb-2 flex flex-col lg:justify-between mt-[-30px]">
    <ul class="open-menu lg:flex flex-wrap">
      <li class="cursor-pointer" *ngFor="let list of listGroup" (click)="redirectInternas(list.ruta)"
        (mouseover)="list.state = false" (mouseout)="list.state = true">{{list.name}}
        <img [ngClass]="{ 'arrow-rotate' : !list.state }" class="translate-x-0 transition duration-700 ease-in-out w-[31px] lg:w-[42px] xl:w-auto"
          src="assets/img/short-arrow-right.png" alt="">
      </li>
    </ul>
    <div class="hidden lg:flex justify-between items-end">
      <p class="lexend text-[13px] font-medium text-white">Esedor © 2022</p>
      <ul class="space-y-[0.5rem]">
        <li>
          <a class="block" href="https://www.linkedin.com/company/esedor/" target="_blank">
            <img src="assets/img/Linkedin.png" alt="" >
          </a>
        </li>
        <li>
          <a class="block" href="https://www.facebook.com/esedorla" target="_blank">
            <img src="assets/img/Facebook.png" alt="">
          </a>
        </li>
        <li>
          <a class="block" href="https://www.instagram.com/esedor.latam/" target="_blank">
            <img src="assets/img/Instagram.png" alt="" >
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
