.menu-celes{
  background: #5682FF;
  transition: 0.3s;

}
/*Toolbar*/
.header_variable{
  display: none;
}

.main-header{
  position: fixed;
  top: 4vh;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}


.open-menu li{
  color: white;
  font-size: 20px;
  font-family: LexendZettaLight;
  font-weight: 300;
  line-height: 53.3px;
  display: block;
  margin-right: 1.5rem;
  margin-bottom: .8rem;
}

.open-menu li:hover {
  color: #626973;
}

.open-menu li img{
  display: inline;
}

.arrow-rotate{
  transform: rotate(-45deg);
  transition: transform .6s cubic-bezier(.4,0,0,1);
}

@media screen and (min-width: 1024px) {
  .open-menu li{
    font-size: 33px;
    display: inline;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  .open-menu li{
    font-size: 35px;
  }
}

@media screen and (min-width: 1400px) {
  .open-menu li{
    font-size: 42px;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 1505px) {
  .open-menu li{
    font-size: 46px;
    margin-right: 1.2rem;
  }
}

@media screen and (min-width: 1670px) {
  .open-menu li{
    font-size: 50px;
  }
}

/* .open-nav {
  height: 100vh;
  transition-delay: 0s;
    z-index: 850;
    visibility: visible;
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height 0s .8s,z-index 0s .8s,visibility 0s .8s;
    color: #fff;
}

.bg-nav {
  transform: scaleX(1);
  transition-delay: 0s;
  width: 66.66667%;
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #101012;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform .6s cubic-bezier(.77,0,.175,1) .2s;
}

.content-superior {
  transition-delay: .3s;
  transform: translateY(66%);
  position: fixed;
    top: 0;
    overflow: hidden;
    transition: transform .6s cubic-bezier(.645,.045,.355,1);
    z-index: 700;
} */

