<div class="grid grid-cols-1 lg:grid-cols-4 gap-[5rem]">
    <div
        class="py-2 px-4 lg:p-0 bg-[#5682FF] lg:bg-transparent fixed bottom-0 ml-[-1rem] lg:ml-0 w-full lg:w-auto lg:relative">

    </div>
    <div
        class="border-t border-black col-span-4 lg:col-span-3 py-[2rem] lg:py-[7.5rem] lg:pr-[5rem] xl:pr-[8rem] lg:mt-[2.5rem] grid gap-[4rem]">
        <!-- lg:col-end-5  -->
        <h1 data-aos="fade-up" data-aos-duration="1500"
            class="lexendzettali lg:text-[46px] leading-[20px] lg:leading-[84.5px]">Productos
            excepcionales con
            soporte de
            inicio a fin y orientación experta</h1>
        <div class="flex lg:grid grid-cols-2 gap-[4rem] overflow-x-auto lg:overflow-hidden py-[2rem] lg:py-0">
            <div class="lexendli space-y-4 min-w-[235px]" *ngFor="let item of paragraphGroup">
                <h4 class="text-sm lg:text-[21px] leading-[17px] lg:leading-[26px]">{{item.text}}</h4>
                <h3 class="text-[21px] lg:text-[30px] 2xl:text-[36px] leading-[26px] lg:leading-[53.3px]">
                    {{item.secondText}}</h3>
            </div>
        </div>
    </div>
</div>
