<app-toolbar [colorWhite]="colorWhite"></app-toolbar>

<app-first-section [date]="date" [industry]="industry" [client]="client" [image]="image" [styles]="styles"
  [display]="display" [display2]="display2" [imageTwo]="imageTwo" [paragraphOne]="paragraphOne" [paragraphTwo]="paragraphTwo"
  [serviceList]="serviceList" [definitionsList]="definitionsList" [animatedTitle]="animatedTitle"
   [optionImg]="optionImg" [arrowhidden]="arrowhidden"></app-first-section>

  <section class="h-screen lg:mt-80 ">
    <div class="w-full h-screen bg-no-repeat bg-cover bg-fixed h-[110%] lg:block hidden"
      style="background-image: url(assets/img/primer-parallax-notifai.png);">
    </div>

    <div class="w-full h-screen bg-no-repeat bg-cover bg-fixed h-[110%] lg:hidden block"
    style="background-image: url(assets/img/primer-parallax-notifai-mobil.jpg);">
  </div>
  </section>

<app-second-section [firstText]="firstText" [secondText]="secondText" [displayContent]="displayContent"
  [imageSection]="imageSection">
</app-second-section>

<section>
  <div
    class="lexendb px-4 text-[40px] lg:text-[75px] leading-[60px] 2xl:text-[100px] lg:leading-[140px] 2xl:leading-[160px] lg:w-[650px] 2xl:w-[49%] ml-auto mt-20">
    <h2 data-aos="fade-up" data-aos-duration="500">Requerimientos</h2>


    <div>
      <h3 data-aos="fade-up" data-aos-duration="500"
        class="lexend text-[21px] lg:text-[30px] leading-[30px] lg:leading-[53px] 2xl:pr-[9rem] w-full 2xl:w-[85%] mt-8 lg:mt-16">
        <!-- lg:w-[650px]  -->
        Durante la investigación de usuarios identificamos las características y funcionalidades del producto, así como
        a descubrir los puntos fuertes y débiles del producto previamente desarrollado algo que nos permitió identificar
        requerimientos funcionales y no funcionales de una manera más acertada.

      </h3>
    </div>
  </div>

  <div class="lg:hidden mt-20 h-full flex justify-center flex-wrap content-center">
    <img data-aos="fade-up" data-aos-duration="500" src="assets/img/arquetipo-notifai1.svg" alt="">
    <img data-aos="fade-up" data-aos-duration="500" class="mt-10" src="assets/img/arquetipo-notifai2.svg" alt="">
    <img data-aos="fade-up" data-aos-duration="500" class="mt-10" src="assets/img/arquetipo-notifai3.svg" alt="">
  </div>

  <div class="hidden mt-[5rem] lg:mt-[6rem] h-full lg:flex justify-center flex-wrap content-center">
    <img data-aos="fade-up" data-aos-duration="500" class="w-[80%]" src="assets/img/arquetipo-usuario.png" alt="">
  </div>

  <div class="flex flex-wrap content-center lg:py-[30rem] py-[10rem]">
    <!-- justify-center mt-[-28rem] lg:mt-[6rem]-->
    <div data-aos="fade-up" data-aos-duration="500"
      class="relative lexendzetta text-[28px] lg:text-[35px] 2xl:text-[46px]">
      <!-- ml-[-5rem]  mt-[40rem] -->
      <!---->
      <!--RESPONSIVE-->
      <h1 class="mb-8 text-[34px] ml-2 lexendzetta lg:hidden">Flujograma <br> de usuario</h1>
      <!---->
      <h1 class="hidden lg:block absolute top-[4rem] ml-[5rem]">Flujograma <br> de usuario</h1>
      <img class="ml-[-1rem] xl:ml-[-4rem] 2xl:ml-[-5rem] w-[1236px] lg:w-[2116px]  object-cover"
        src="assets/img/mapa-extenso.png" alt="">
      <!-- h-[598px] lg:h-[1389px] -->
    </div>
  </div>
</section>

<section class="relative h-[100%] py-0">
  <div class="w-full bg-no-repeat bg-position bg-cover bg-center bg-fixed h-[140%]"
    style="background-image: url(assets/img/parallax2-notifai.png);">
  </div>
</section>

<section class="mt-[90%] lg:mt-[60%] xl:mt-[50%]">
  <h5 data-aos="fade-up" data-aos-duration="500"
    class="lexendzetta text-[30px] lg:text-[65px] xl:text-[75px] 2xl:text-[86px] h-full flex justify-center flex-wrap content-center">
    Diseño UI</h5>

  <div data-aos="fade-up" data-aos-duration="500" class=" h-full flex justify-center flex-wrap content-center ">
    <img class="w-[350px]  lg:w-[750px] 2xl:w-[1050px] mt-10 lg:mt-28" src="assets/img/campaña.png" alt="">
  </div>

  <div data-aos="fade-up" data-aos-duration="500"
    class=" ml-4 lg:ml-10 lg:mt-[30%] mt-40 h-full flex justify-center flex-wrap content-center">
    <img class="w-[351px]  lg:w-[750px] xl:w-[950px] 2xl:w-[1246px]" src="assets/img/grupo-camapaña.png" alt="">
  </div>


</section>
<section class="w-[100%] h-screen lg:h-[100%] lg:mt-[400px] mt-[200px]">
  <div class="w-[100%] h-[100%] bg-[#FFD4D4]">
    <div class="flex justify-center items-center w-[100%] h-[100%]">
      <img class="lg:w-[851px] w-[350px]" src="assets/img/laptop-notifai2.png" alt="">
    </div>
  </div>
</section>

<!-- <section class="h-[150%] bg-[#FFD4D4] flex flex-wrap content-center justify-center mt-[35%]">
  <img data-aos="flip-left" data-aos-duration="500" alt="laptop" src="assets/img/laptop-estadis.png">
</section>

<section
  class="px-4 pt-2 lg:pt-[5rem] pb-5 bg-[#141C26] text-[#FFFFFF] flex flex-col lg:justify-start justify-end h-screen lg:h-auto">
  <p class="lexendzetta font-semibold text-[18px] pl-[4rem] lg:px-[4rem]">Esedor</p>
  <p class="lexend pl-[4rem] lg:px-[4rem]">Transformando el presente</p>
  <div class="flex justify-center lg:justify-between flex-col lg:h-[700px] pt-[1.5rem] lg:pt-0 lg:px-[4rem]">
    <div class="relative">
      <div class="w-full h-[10px] transition-all duration-700 ease-in-out mt-[7.5rem] hidden lg:block"
        [ngClass]="{ 'bg-hover' : bgHover }">
      </div>
      <div (mouseover)="bgHover = true" (mouseout)="bgHover = false" style="z-index: 4;"
        class="flex lg:flex-row items-center h-[130px] lg:h-[200px] w-full border-t-[1px] border-b-[1px] border-white justify-between lg:justify-start lg:absolute top-[7.5rem]">
        <p class="lexendzetta text-[36px] lg:text-[96px]">Redeban</p>
        <p class="lexend text-[21px] ml-auto mr-[6rem] hidden lg:block">Ir a proyecto</p>
        <img class="mr-4" src="assets/img/arrow-footer.png" alt="" srcset="">
      </div>
      <div class="w-full h-[10px] transition-all duration-700 ease-in-out hidden lg:block absolute top-[20rem]"
        style="z-index: 1;" [ngClass]="{ 'bg-hover2' : bgHoverTwo }">
      </div>
      <div (mouseover)="bgHoverTwo = true" (mouseout)="bgHoverTwo = false" style="z-index: 4;"
        class="flex lg:flex-row items-center h-[130px] lg:h-[200px] w-full border-b-[1px] border-white justify-between lg:justify-start lg:absolute top-[20.2rem]">
        <p class="lexendzetta text-[36px] lg:text-[96px]">Notifai</p>
        <p class="lexend text-[21px] ml-auto mr-[6rem] hidden lg:block">Ir a proyecto</p>
        <img class="mr-4" src="assets/img/arrow-footer.png" alt="" srcset="">
      </div>
    </div>
    <div class="flex lg:justify-between mt-auto py-[2rem]">
      <button mat-raised-button
        class="bg-[#FFFFFF] text-black w-full lg:w-[250px] rounded-[12px] h-[70px]">Conversemos</button>
    </div>
  </div>

  <div class="flex mt-auto lg:pl-[4rem] lg:pr-4 items-end relative">
    <p class="lexend text-[13px] font-medium ">Esedor © 2022</p>

    <ul
      class="ml-auto text-white text-xs lg:text-sm lexend flex flex-col lg:flex-row items-end justify-between w-[55%] lg:pr-[9rem] space-y-[1.5rem] lg:space-y-0">
      <li>Proyectos</li>
      <li>Services</li>
      <li>Who we are</li>
      <li>Blog</li>
      <li>Careers</li>
    </ul>
    <div class="space-y-[2rem] absolute lg:relative bottom-[2.5rem] lg:bottom-0">
      <a class="block" href="">
        <img src="assets/img/Linkedin.png" alt="">
      </a>
      <a class="block" href="">
        <img src="assets/img/Facebook.png" alt="">
      </a>
      <a class="block" href="">
        <img src="assets/img/Instagram.png" alt="">
      </a>
    </div>
  </div>
</section> -->

<app-lets-talk (letsForm)="showFormEvent()"></app-lets-talk>

<div *ngIf="showForm">
  <app-contact-dashboard (closeForm)="closeFormEvent()"></app-contact-dashboard>
</div>

<app-footer></app-footer>
