.bg-image {
  background-image: url('../../../assets/img/contacto-esedor.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

.bg-responsive{
  background-image: url('../../../assets/img/contacto-esedor.png');
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-family: LexendZettaExtraLight;
  /* font-size: 46px;
  line-height: 55px; */
}

.btn-1{
  padding: 15px 25px;
  text-align: center;
  background-color: #FFFFFF ;
  border-radius: 60px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}

.btn-responsive{
  padding: 15px 25px;
  width: 100%;
  height:65px;
  text-align: center;
  background-color: #FFFFFF ;
  border-radius: 60px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
}

.bg-mitad{
  background-image: url('../../../assets/img/img-mar.png');
  background-repeat: no-repeat;
}

.bg-mitad-responsive{
  background-image: url('../../../assets/img/img-mitad-responsive.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1024px ) {

  .arrow-rotate{
      transform: rotate(-45deg);
      transition: transform .6s cubic-bezier(.4,0,0,1);
  }

  .arrow:hover g line {
      stroke: #FFFFFF;
  }

  .arrow:hover g path {
      stroke: #FFFFFF;
  }

}


@media screen and (min-width: 1024px ) {

  .arrow-rotate{
      transform: rotate(-45deg);
      transition: transform .6s cubic-bezier(.4,0,0,1);
  }

  .arrow:hover g line {
      stroke: #000000;
  }

  .arrow:hover g path {
      stroke: #000000;
  }

}
