img {
    pointer-events: none;
}

.rightRs {
    position: absolute;
    top: 0;
    right: 5rem;
}

.leftRs {
    position: absolute;
    top: 0;
    right: 12rem;
    z-index: 9;
}

.tile {
    padding-top: 9rem;
}