.bg-image {
  background-image: url('../../../assets/img/proyectos-esedor.png');
  background-repeat: no-repeat;
}

.icon-hover {
  opacity: 1;
}

:host ::ng-deep .mat-drawer-side {
  border-right: solid 1px rgba(255, 255, 255, 0.07);
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #222DE9;
  border-radius: 5px;
}

:host ::ng-deep.mat-drawer {
  display: none;
}

.item-focus {
  font-weight: bold;
}

input, select, textarea{
  color: #ffffff;
}

textarea:focus, input:focus {
  color: #ffffff;
}

img {
  pointer-events: none;
}

.btn-list button {
  /* width: 100px; */
  display: inline;
  text-align: left;
  font-size: 15.5px;
  font-family: Lexend;
}

.sidebar mat-list-item:hover {
  color: #5682FF;
}

.sidebar .selected {
  color: #000000;
  font-weight: bold;
}

/*Toolbar*/
/* .header_variable{
  display: none;
} */

/* .main-header{
  position: fixed;
  top: 4vh;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  padding-left: 2vw;
  padding-right: 2vw;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
} */

@media screen and (min-width: 1024px ) {

  :host ::ng-deep.mat-drawer {
    display: block;
  }

  .text-color {
    color: white;
    transition: all .4s ease-in;
  }

  .img-project {
  transform: scale(.9);
  transition: transform .6s cubic-bezier(.4,0,0,1);
  }

  .arrow-rotate {
    transform: rotate(-45deg);
    transition: transform .6s cubic-bezier(.4,0,0,1);
  }

  .bg-color {
    background: #0166FF;
    transition: all .4s ease-in;
    height: 670px;
  }

  .bg-two{
  background: #E84545;
  transition: all .4s ease-in;
  height: 650px;
  }

  .bg-three{
  background: #8B90F5;
  transition: all .4s ease-in;
  height: 650px;
  }

  .bg-fourth{
  background: #FFD4D4;
  transition: all .4s ease-in;
  height: 650px;
  }

  .bg-fifth{
  background: #2B2E4A;
  transition: all .4s ease-in;
  height: 650px;
  }

  .bg-sixth{
  background: #4F57EB;
  transition: all .4s ease-in;
  height: 650px;
  }

  .bg-seventh{
  background: #F2F2F2;
  transition: all .4s ease-in;
  height: 650px;
  }
  .bg-eight{
    background: #ced0d2;
    transition: all .4s ease-in;
    height: 700px;
  }
  .bg-nine{
    background: #281f78;
    transition: all .4s ease-in;
    height: 700px;
  }
  .bg-ten{
    background: #da6f1d;
    transition: all .4s ease-in;
    height: 700px;
  }
}
