<app-toolbar [colorWhite]="colorWhite"></app-toolbar>
<div>
  <section class="bg-image relative h-[310px] lg:h-[437px] text-white flex  items-center lg:justify-start justify-center py-8 2xl:pt-[4rem] lg:rounded-br-[50px]">
    <div class="text-[36px] lg:text-[110px] lg:justify-start justify-center xl:text-[125px] 2xl:text-[145px] lexendzettaextrali leading-[125px] flex textleft">
      <div data-aos="fade-down-right" data-aos-duration="500">N</div>
      <div data-aos="fade-down-right" data-aos-duration="550">o</div>
      <div data-aos="fade-down-right" data-aos-duration="600">s</div>
      <div data-aos="fade-down-right" data-aos-duration="650">o</div>
      <div data-aos="fade-down-right" data-aos-duration="700">t</div>
      <div data-aos="fade-down-right" data-aos-duration="750">r</div>
      <div data-aos="fade-down-right" data-aos-duration="800">o</div>
      <div data-aos="fade-down-right" data-aos-duration="850">s</div>
    </div>

    <div class="lg:block hidden">
      <app-button-down class=" button-down " (getDown)="getDownSection()"></app-button-down>
    </div>
  </section>
  <section id="nextContent" class="px-4 pt-[3rem] lg:pt-[5rem] pb-[8rem] lg:pb-[10rem]">
    <div class="grid grid-cols-1 lg:grid-cols-4 space-y-[3rem] lg:space-y-0">
      <h3 data-aos="fade-right" class="lexendli text-[18px] lg:text-[21px] leading-[53.3px]">Propósito</h3>
      <div class="col-span-3 grid grid-cols-1 lg:grid-cols-3 border-b border-black pb-[4rem] lg:pb-[9rem]">
        <h1 data-aos="fade-up"
          class="text-[28px] lg:text-[36px] xl:text-[46px] leading-[35px] lg:leading-[57.5px] col-span-2 pb-8 lg:pb-[5rem] 2x:pb-[6rem]">
          Humanizar la tecnología para crear un mundo sostenible</h1>
        <!-- xl:text-[40px] 2 -->
        <h3 data-aos="fade-up" class="lexendli text-[18px] lg:text-[21px] col-span-2 pb-[3rem]">Esedor crea productos digitales que
          permiten a las personas realizar las cosas de manera diferente. Comparte tu desafío con nuestro equipo y
          trabajaremos contigo para ofrecer un producto digital revolucionario.</h3>
        <h3 data-aos="fade-up" class="lexendli text-[18px] lg:text-[21px] col-span-2">Nuestros clientes han optimizado la forma en que sus
          usuarios realizan operaciones bancarias, envían productos, utilizan la energía y exportan productos.</h3>
      </div>
    </div>
    <div
      class="grid grid-cols-1 lg:grid-cols-7 lg:px-[4rem] xl:pl-[6rem] xl:pr-[4rem] 2xl:pl-0 2xl:pr-[8rem] pt-[3rem] lg:pt-[7rem] mx-auto items-center">
      <img class="2xl:col-start-2 col-span-2 w-[146px] lg:w-[322px] mx-auto" src="assets/img/iphone.png" alt="">
      <div
        class="2xl:col-start-4 col-span-5 2xl:col-span-4 space-y-[3rem] pt-5 lg:pt-0 lg:pl-[3rem] xl:pl-[6rem] 2xl:pl-0">
        <h1 data-aos="fade-up" class="text-[28px] lg:text-[36px] xl:text-[46px] leading-[35px] lg:leading-[57.5px]">
          Durante los últimos años hemos brindado ayuda a nuestros clientes a distribuir proyectos para múltiples
          plataformas.
        </h1>
        <!-- <button class="lexendli text-[21px] flex items-center">
          <img class="pr-5" src="assets/img/arrow-black.png" alt="">
          Ver proyecto
        </button> -->
        <div
          class="py-2 px-4 lg:p-0 bg-[#5682FF] lg:bg-transparent fixed bottom-0 ml-[-1rem] lg:ml-0 w-full lg:w-auto lg:relative z-50">
          <button matRipple (mouseover)="btnStyle = true" (mouseout)="btnStyle = false"
            [ngClass]="{ 'arrow' : btnStyle}" (click)="showFormEvent()"
            class="lexendli cursor-pointer bg-white lg:hover:bg-[#5682FF] text-[15.5px] text-[#141C26] lg:hover:text-white flex items-center justify-start lg:justify-center shadow w-full lg:w-[236px] h-[45px] lg:h-[65px] 2xl:h-[82px] lg:ml-4 px-6 lg:p-4 rounded-[50px]">
            <svg class="transition duration-700 ease-in-out mr-16 lg:mr-4 w-[24px] lg:w-[32px]" width="33" height="31"
              viewBox="0 0 33 31" [ngClass]="{ 'arrow-rotate' : btnStyle }" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g class="text-white">
                <line x1="5.7105e-09" y1="14.7539" x2="30.6479" y2="14.7539" stroke="black" stroke-width="2" />
                <path d="M16.2585 1.00146L30.5917 15.2188L16.2585 29.436" stroke="black" stroke-width="2" />
              </g>
            </svg>
            Ver proyecto
          </button>
        </div>
      </div>
    </div>
  </section>

  <section
    class="bg-[#F2F4F5] lg:h-[367px] grid grid-cols-1 lg:grid-cols-3 xl:gap-8 items-center justify-items-center px-4 py-12 lg:py-0 space-y-[3rem] lg:space-y-0">
    <div  data-aos="fade-up" class="lexendli text-center lg:text-left">
      <p class="text-[120px] xl:text-[128px] leading-[160px]">7+</p>
      <p class="text-[30px] xl:text-[36px] leading-[53.3px]">años en el mercado</p>
    </div>
    <div  data-aos="fade-up" class="lexendli text-center lg:text-left">
      <p class="text-[120px] xl:text-[128px] leading-[160px]">150+</p>
      <p class="text-[30px] xl:text-[36px] leading-[53.3px]">especialistas abordo</p>
    </div>
    <div  data-aos="fade-up" class="lexendli text-center lg:text-left">
      <p class="text-[120px] xl:text-[128px] leading-[160px]">287+</p>
      <p class="text-[30px] xl:text-[36px] leading-[53.3px]">proyectos entregados</p>
    </div>
  </section>

  <section class="bg-image2 h-[612px] flex items-center">
    <h5 data-aos="fade-right"
      class="lexendzettaextrali text-[36px] lg:text-[80px] 2xl:text-[86px] leading-[45px] lg:leading-[107.5px] text-white lg:w-[50%] text-center lg:text-left">
      Nuestra cultura</h5>
  </section>

  <section class="grid grid-cols-1 lg:grid-cols-4 px-4 lg:pl-0 py-[9rem]">
    <h1  data-aos="fade-up"
      class="lg:col-start-2 col-span-3 text-[28px] lg:text-[36px] xl:text-[46px] leading-[35px] lg:leading-[57.5px] pb-[9rem] lg:pr-[8rem]">
      Los valores fundamentales de Esedor impactaron en el crecimiento de la empresa a medida que fueron enriqueciendo
      los aprendizajes de nuestra organización.</h1>
    <div
      class="lg:col-start-2 col-span-3 grid grid-cols-1 lg:grid-cols-2 gap-x-[4.5rem] gap-y-[6.5rem] py-[8rem] lg:pr-[8rem] border-t border-b border-black">
      <div  data-aos="fade-up"  class="lexendli space-y-[2.5rem]" *ngFor="let item of featureGroup">
        <img src="assets/img/valores.png" alt="">
        <h4 class="text-[16px] lgtext-[18px] xl:text-[21px] leading-[25.6px] lg:leading-[33.6px]">{{item.title}}
        </h4>
        <h3 class="text-[21px] lg:text-[26px] xl:text-[30px] 2xl:text-[36px] leading-[33.6px] lg:leading-[53.3px]">
          {{item.text}}</h3>
      </div>
    </div>
    <div class="lg:col-start-2 col-span-3 pt-[9rem] space-y-[3rem] lg:pr-[20rem]">
      <h1  data-aos="fade-up"  class="text-[28px] lg:text-[36px] xl:text-[46px] leading-[35px] lg:leading-[57.5px]">Dando forma a una visión,
        entregando software, creando experiencias de clase mundial</h1>
      <h3  data-aos="fade-up"  class="lexendli text-[18px] lg:text-[21px] leading-[33.6px]">Contribuir con Esedor ha tenido un impacto
        duradero en nuestra capacidad de ser innovadores y ejecutar a un ritmo. Es allí en donde el equipo equipo tiene
        un fuerte enfoque en no solo hacer lo que pides.</h3>
    </div>
  </section>

  <section class="grid grid-cols-1 lg:grid-cols-4 pb-[10rem]">
    <div class="px-4 py-8 us-shadow transition-all duration-700 ease-in-out cursor-pointer" *ngFor="let item of steps"
      [ngClass]="{ 'bg-blue' : item.state }" (mouseover)="item.state = true" (mouseout)="item.state = false">
      <h5  data-aos="fade-up"
        class="lexendzettaextrali text-[86px] leading-[107.5px] text-[#D8D8D8] border-t lg:pt-[5rem] xl:pt-[6rem] pb-[2.5rem] lg:pb-[9rem] xl:pb-[11rem] transition-all duration-700 ease-in-out"
        [ngClass]="{ 'style-hover' : !item.state}">{{item.step}}</h5>
      <div class="space-y-[2rem] lg:space-y-0 xl:space-y-[3rem] transition-all duration-700 ease-in-out"
        [ngClass]="{ 'lg:text-white lg:transition-all duration-700 ease-in-out' : item.state }">
        <h1  data-aos="fade-up"
          class="text-[28px] xl:text-[34px] 2xl:text-[40px] 3xl:text-[46px] leading-[35px] lg:leading-[40.5px] xl:leading-[57.5px] lg:h-[169px]">
          {{item.title}}</h1>
        <h4  data-aos="fade-up"  class="lexendli text-[18px] 2xl:text-[21px] leading-[30.6px] 2xl:leading-[33.6px]">{{item.text}}
        </h4>
      </div>
    </div>
  </section>

  <section class="pt-[5rem] pb-[9rem] grid grid-cols-1 lg:grid-cols-4 hidden">
    <h1
      class="col-span-3 text-[28px] lg:text-[36px] xl:text-[40px] 2xl:text-[46px] leading-[35px] lg:leading-[57.5px] absolute lg:w-[80%] xl:w-[79%] 2xl:w-[73%]">
      Nuestro éxito es gracias a las personas que integran Esedor.
    </h1>
    <div class="lg:col-start-2 col-span-3 mt-4">
      <app-workers-slide></app-workers-slide>
    </div>
    <!-- <div>
            <h3 class="lexendli lg:text-[22px] xl:text-[30px] 2xl:text-[36px] leading-[53.3px]"></h3>
            <p class="lexendb text-sm"></p>
        </div> -->
  </section>

  <section class="bg-image3 h-[612px] flex items-center">
    <h5 data-aos="fade-right"
      class="lexendzettaextrali text-[36px] lg:text-[80px] 2xl:text-[86px] leading-[45px] lg:leading-[107.5px] text-white w-[50%]">
      Visión Responsable</h5>
  </section>

  <section class="grid grid-cols-1 lg:grid-cols-4 py-[5.5rem]">
    <div class="lg:col-start-2 col-span-3 px-4 lg:pl-0 lg:pr-[16rem] 2xl:pr-[18rem] space-y-[2rem]">
      <h1  data-aos="fade-up" class="text-[28px] lg:text-[36px] xl:text-[46px] leading-[35px] lg:leading-[57.5px]">Esedor apoya los
        Principios del Pacto Mundial de las
        Naciones Unidas sobre derechos humanos, trabajo,
        medio ambiente y lucha contra la corrupción.</h1>
      <h4  data-aos="fade-up" class="lexendli text-[18px] 2xl:text-[21px] leading-[30.6px] 2xl:leading-[33.6px]">Estamos comprometidos
        a hacer del Pacto Mundial de las
        Naciones Unidas y sus principios parte de la
        estrategia, la cultura y las operaciones cotidianas de nuestra empresa, y a participar en proyectos de
        colaboración que promuevan los objetivos de desarrollo más amplios de las Naciones Unidas, en particular
        los Objetivos de Desarrollo Sostenible.</h4>
    </div>
    <div class="lg:col-start-2 col-span-3 pt-[5.5rem]">
      <div data-aos="fade-up" class="p-6 lg:p-[3rem] lg:flex items-center lg:space-x-[5.5rem] us-shadow space-y-[2.5rem] lg:space-y-0"
        *ngFor="let item of principles">
        <!-- space-x-[3.5rem] 2xl: -->
        <img class="w-[80px] lg:w-auto" src="{{item.image}}" alt="">
        <div class="space-y-2">
          <p class="lexendb">{{item.title}}</p>
          <h3 class="lexendli text-[14.5px] lg:text-[21px] leading-[18px] lg:leading-[30px]">{{item.text}}
          </h3>
          <!-- leading-[33.6px] -->
        </div>
      </div>
    </div>
  </section>

  <section
    class="bg-black lg:pl-4 lg:pr-[1.5rem] 2xl:pr-[10.5rem] pt-[8rem] flex flex-col-reverse lg:flex-row justify-between items-start lg:h-[950px]">
    <!-- pr-[5rem] xl -->
    <div class="lg:w-[44%] spce-y-4 lg:space-y-[3rem] flex flex-col lg:items-end pb-4 lg:pb-0">
      <h1 data-aos="fade-up"
        class="text-[28px] lg:text-[36px] xl:text-[46px] leading-[35px] lg:leading-[57.5px] text-white px-4 lg:px-0 py-[3rem] lg:py-0">
        “Impulsar nuestra visión de un mundo digital sostenible donde todos puedan desarrollar todo su potencial.”</h1>
      <div  data-aos="fade-up" class="text-white space-y-4 px-4 lg:px-0">
        <h4  class="lexendli text-[18px] 2xl:text-[21px] leading-[33.6px]">Mijalys Silva</h4>
        <p  class="lexendb">CEO</p>
      </div>
    </div>

    <img data-aos="fade-down" src="assets/img/present.png" alt="">
  </section>

  <section
    class="bg-[#E8E8E8] px-4 py-[7rem] lg:p-4 lg:h-[550px] grid grid-cols-1 lg:grid-cols-3 items-center space-y-[4rem] lg:space-y-0">
    <h3 data-aos="fade-up" class="lexendli text-[36px] lg:text-[22px] xl:text-[30px] 2xl:text-[36px] leading-[53.3px]">Aliados</h3>
    <div
      class="lg:col-start-2 col-span-2 grid grid-cols-2 lg:grid-cols-4 gap-[3rem] items-center justify-items-center lg:justify-items-start">
      <img  data-aos="fade-up" src="assets/img/aws.png" alt="">
      <img  data-aos="fade-up" src="assets/img/microsoft.png" alt="">
      <img  data-aos="fade-up" src="assets/img/adex.png" alt="">
      <img  data-aos="fade-up" src="assets/img/mdp.png" alt="">
    </div>
  </section>

  <div class="hidden lg:block">
    <app-lets-talk (letsForm)="showFormEvent()"></app-lets-talk>

  </div>

  <div *ngIf="showForm">
    <app-contact-dashboard (closeForm)="closeFormEvent()"></app-contact-dashboard>
  </div>

  <app-footer></app-footer>
</div>
